---
import Layout from '@/layouts/Layout.astro';
import ProfileLayout from '@/layouts/ProfileLayout.astro';
import Container from '@/components/ui/Container.astro';
import { CustomerDetailPage } from '@/components/Admin/CustomerDetailPage';
import { requireAdminAuth } from '@/lib/auth-utils';

const authResult = await requireAdminAuth(Astro);
if (authResult instanceof Response) {
  return authResult;
}

const { id } = Astro.params;

if (!id) {
  return Astro.redirect('/admin/customers');
}
---

<Layout title="Manobal | Customer Details">
  <ProfileLayout>
    <Container width="marginy">
      <div class="max-w-8xl mt-20 lg:mt-0 mx-auto">
        <CustomerDetailPage client:load customerId={id} />
      </div>
    </Container>
  </ProfileLayout>
</Layout>
