---
import Heading from '../ui/Heading.astro';

// FooterNote.astro
---

<div class="grid lg:grid-cols-3 gap-4">
  <div>
    <div class="bg-base-100 rounded-md w-28 h-28 mx-auto mb-3"></div>
    <p class="text-center">
      <!-- Craftwood Studios <br /> Handcrafted Excellence. Timeless Design. -->
    </p>
  </div>
  <div class="lg:col-span-2">
    <Heading size="md" class="mb-4">Craftwood Studios</Heading>
    <p class="text-justify">Handcrafted Excellence. Timeless Design.</p>
  </div>
</div>
