---
import Paragraph from "../ui/Paragraph.astro";
import type { Product } from "@/lib/db";

interface Props {
  product: Product;
}

const { product } = Astro.props;
const { category, subcategory } = product;
---

<div class="flex gap-4 flex-wrap">
  <Paragraph>
    <b>Category:</b>
    {category}
  </Paragraph>
  {subcategory && (
    <Paragraph>
      <b>Subcategory:</b>
      {subcategory}
    </Paragraph>
  )}
</div>
