---
import Layout from '@/layouts/Layout.astro';
import ProfileLayout from '@/layouts/ProfileLayout.astro';
import Container from '@/components/ui/Container.astro';
import { OrdersChart } from '@/components/Admin/OrdersChart';
import { RecentOrders } from '@/components/Admin/RecentOrders';
import { getUser } from '@/lib/auth-utils';
import UserCard from '@/components/ui/UserCard.astro';

const user = await getUser(Astro);

if (!user) {
  return Astro.redirect('/admin/login');
}

if (!user.emailVerified) {
  return Astro.redirect('/emailVerification');
}
---

<Layout title="Dashboard">
  <ProfileLayout>
    <Container width="marginy">
      <div class="max-w-8xl mt-20 lg:mt-0 mx-auto space-y-8">
        <UserCard user={user} />
        <RecentOrders client:only="react" />
        <OrdersChart client:only="react" />
      </div>
    </Container>
  </ProfileLayout>
</Layout>
